<!-- Main container, holds the featured content slideshow reel. -->

  <header>
    <!-- <div class="container-full">
      <img class="img-fluid" src="img1.jpg" alt="">
    </div> -->
    <div class="parallax">

    </div>

  </header>
  <!-- Top of navbar settings here -->

  <div class="jumbotron jumbotron-fluid jumbotron-toggle" style="margin:0;">

    <div class="container">
      <h1 class="display-4">Richmond Row</h1>
    </div>
  </div>

<!-- Navbar settings here -->
<div class="container navbar-container" style="max-width:100%;">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <h2 class="mobile-h2">Richmond Row</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <a class="navbar-brand" href="/">
          <img src="/media/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Richmond Row
        </a>
        {{#if admin}}
        <li class="nav-item" >
          <a class="nav-link" href="/admin">Admin<span class="sr-only">(current)</span></a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/instagram/">Instagram</a>
        </li>
        {{#unless user}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a id="focus" class="nav-link" href="/register">Sign Up</a>
        </li>
        {{/unless}}

        {{#if user}}
        <li class="nav-item">
          <form  action="/logout/" method="post">
            <input class="btn btn-link" type="submit" value="Logout">
          </form>
          
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</div>

<!-- POST OF THE DAY -->
<div class="container-potd">
  <div class="jumbotron jumbotron-fluid" style="margin:0;">
    <div class="container">
      <h1 class="display-4">Post Of The Day</h1>
    </div>
  </div>

  <!-- FEATURED POST -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <a style="margin-top:2em;" class="text-white" href="">@armitage</a>
    </div>
    <div class="row">
    <video style="padding:2em;" controls loop>
      <source style="padding:2em;" src="/media/vid1.mp4" type="video/mp4">
    </video>
    </div>
    <div class="row justify-content-center">
      <a href="/home/submissions/" class="btn btn-danger btn-lg" style="margin-bottom:2em;" role="button">GET FEATURED</a>
    </div>
  </div>
</div>


<!-- MERCHANDISE -->
<div class="jumbotron jumbotron-fluid" style="margin:0;">
  <div class="container">
    <h1 class="display-4">Merchandise</h1>
  </div>
</div>

<!-- MERCHANDISE CONTENT -->
<div class="container-fluid container-merch">

  <!-- ROW 1 -->
  <div class="row">
    <div class="col-sm">
      <div class="card-merch">
        <a href="#"> <img class="img-merch" src="/media/item1.jpg" alt=""> </a>
        <h5 class="h-merch item-1">Party Barge <br> $25</h5>
      </div>
    </div>

    <div class="col-sm">
      <div class="card-merch">
        <a href="#"> <img class="img-merch" src="/media/item2.jpg" alt=""> </a>
        <h5 class="h-merch item-2">Beer Holder <br> $50</h5>
      </div>
    </div>

    <div class="col-sm">
      <div class="card-merch">
        <a href="#"> <img class="img-merch" src="/media/item3.jpeg" alt=""> </a>
        <h5 class="h-merch item-3">Beer Buckle <br> $15</h5>
      </div>
    </div>
  </div>

  <!-- ROW 2 -->
  <div class="row">
    <div class="col-sm">
      <div class="card-merch">
        <a href="#"> <img class="img-merch" src="/media/item4.jpg" alt=""> </a>
        <h5 class="h-merch item-4">Beer Mug <br> $90</h5>
      </div>
    </div>

    <div class="col-sm">
      <div class="card-merch">
        <a href="#"> <img class="img-merch" src="/media/item5.jpg" alt=""> </a>
        <h5 class="h-merch item-5">Beer Sleeve <br> $55</h5>
      </div>
    </div>

    <div class="col-sm">
      <div class="card-merch">
        <a href="#"> <img class="img-merch" src="/media/item6.png" alt=""> </a>
        <h5 class="h-merch item-6">Shotgunner <br> $75</h5>
      </div>
    </div>
  </div>
</div>

<!-- BLOG POSTS -->
<div class="jumbotron jumbotron-fluid" style="margin:0;">
  <div class="container">
    <h1 class="display-4">Blog</h1>
  </div>
</div>

<div class="container container-white">
{{#each posts}}
<!-- BLOG FEED -->

  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid"src="/uploads/{{file}}" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>{{title}}</h3>
      <p>{{summary}}</p>
      <p>Posted on {{generateDate data "MMMM Do YYYY"}} by</p>
      <a class="btn btn-primary" href="/post/{{slug}}">View Post</a>
    </div>
  </div>
  <hr>

{{/each}}

<!-- PAGINATION -->

<ul class="pagination justify-content-center mb-4">
  {{#paginate current=current pages=pages}}



  {{/paginate}}
</ul>


</div>
